:root {
    --light-color: #fffdf2;
    --dark-color: #0d0d1a;
    font-size: 10px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    color: var(--light-color);
    font-size: 1.8rem;
    font-family: roboto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-header {
    padding: 1rem;
}

#calculator-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    width: 70vh;
    background-color: var(--dark-color);
    border-radius: 3rem;
    min-height: 700px;
    min-width: 490px;
    border: 5px solid darkblue;
}

#input-wrapper {
    margin: 2rem;
    width: 90%;
    background-color: var(--light-color);
    height: 7.5rem;
    border-radius: 1.5rem;
    border: 2px solid gray;
    overflow-x: scroll;
    align-items: center;
    display: flex;
}

#input-area {
    padding: 0 0.75rem;
    color: black;
    text-align: left;
    font-size: 5rem;
}

#buttons-wrapper {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 50%;
    gap: 1rem;
}

#number-buttons, #op-buttons {
    flex-direction: column;
    display: flex;
}

#number-buttons {
    width: 60%;
    height: 100%;
}

#op-buttons {
    width: 40%;
    height: 100%;
}

#op-buttons button{
    background: linear-gradient(blue 75%, darkblue);
    color: var(--light-color);
}

button:hover {
    filter: brightness(85%);
}

.number-row {
    gap: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    flex: 1;
}

button {
    background: linear-gradient(var(--light-color), lightgray);
    font-weight: 600;
    flex: 1;
    font-size: 2.5rem;
    border-radius: 40%;
    padding: 2rem 0;
}

#btn-del {
    background: linear-gradient(red,darkred) !important;
}

#btn-clear {
    background: linear-gradient(green 75%,darkgreen) !important;
}
