:root {
    --light-color: #fffdf2;
    --dark-color: #0d0d1a;
    font-size: 10px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    color: var(--light-color);
    font-size: 1.8rem;
    font-family: roboto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-header {
    padding: 1rem;
}

#calculator-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    width: 70vh;
    background-color: var(--dark-color);
    border-radius: 3rem;
    min-height: 700px;
    min-width: 490px;
}

#input-wrapper {
    margin: 2rem;
    width: 90%;
    background-color: var(--light-color);
    height: 4rem;
    border-radius: 1.5rem;
    border: 2px solid gray;
}

#input-area {
    color: black;
    text-align: left;
    font-size: 2.5rem;
}

#buttons-wrapper {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 40%;
}

#number-buttons {
    flex-direction: column;
    display: flex;
    width: 60%;
    height: 100%;
}

.number-row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    flex: 1;
}

button {
    flex: 1;
    font-size: 2.5rem;
    border-radius: 25%;
}
